<div class="container mx-auto px-20 py-8 bg-gray-800 my-4">
    <h1 class="text-gray-400 text-3xl text-center font-bold mb-4">Recipes</h1>
    <p class="text-gray-400 text-center mb-8">We've organized these recipes every way we could think of so you don't have to! Dietary restrictions, weeknight dinners, meal prep recipes, some of our most tried-and-true... no matter how you browse, we're sure you'll find just what you were looking for.</p>
    <div class="relative top-14">
      <div class="relative w-full">
          <label>
              <input type="text" class="border border-2 block w-full px-8 py-2 rounded-md outline-none  focus:border-blue-500 pl-10" placeholder="Search by keyword">
          </label>
          <i class="fas fa-search absolute left-3 top-3 text-gray-400"></i>
      </div>
    </div>
  </div>